{% extends 'base.html' %}

{% block content %}

{% csrf_token %}

<div class="container-fluid">
  <div class="row content">
    {% include "side.html" %}
    <div class="col-sm-9">
      <div id="msg"></div>
      <h2>Comparison</h2>
      <select id="photos">
      </select>
      <table id="verComparison" class="table table-striped">
        <thead>
          <tr>
            <td>Title</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Version</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Method</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Image</td>
            <td id="tdImg1"></td>
            <td id="tdImg2"></td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $("#photos").change(function() {
    $("#tdImg1").empty();
    $("#tdImg2").empty();

    const urlTarget = window.location.protocol + "//" + window.location.host + `/media/${$(this).val()}`;
    $('#tdImg1').html(`<img src='${urlTarget}'></img>`);
    $('#tdImg2').html(`<img src='${urlTarget}'></img>`);
  });

  function getPhotos() {
    const urlTarget = window.location.protocol + "//" + window.location.host + '/images/all/';
    
    $.ajax({
      type: 'GET',
      dataType: 'json',
      url: urlTarget,
      success: function(data) {
        $.each(data, function(idx, ele) {
          $('#photos').append(new Option(ele, ele));
        });

        $('#photos').trigger("change")
      },
      error: function(xhr, textStatus, errorThrown) {
        $('#msg').text(`${textStatus}: [${xhr.status}] ${errorThrown}`);
      },
    });
  }

  getPhotos();
</script>

{% endblock %}
