{% extends 'base.html' %}

{% block content %}

{% csrf_token %}

<div class="container-fluid">
  <div class="row content">
    {% include "side.html" %}
    <div id="divMain" class="col-sm-9" style="visibility: hidden">
      <span style="font-size: 36px;" id="currTitle"></span>
      <div id="btnAdd"></div>
      <table id="allUrl" class="table table-striped">
        <thead>
          <tr><td>Url</td><td>Action</td><td>Status</td><td>Crawling History</td></tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <hr>
      <div id="allMessages"></div>
      <hr>
      <div style="bottom: 15px; width: 70%; position: fixed;" class="myfooter">
        <textarea id="wysiwyg"></textarea>
      </div>
    </div>
  </div>
</div>

<script>
  function addUrl() {
    const urlTarget = window.location.protocol + "//" + window.location.host + '/url/add/';
    
    $.ajax({
      type: 'POST',
      dataType: 'json',
      contentType: 'application/json',
      headers: {'X-CSRFToken': '{{ csrf_token }}'},
      data: JSON.stringify({
        entry: gCurrEntry,
        url: $("#myurl").val()
      }),
      url: urlTarget,
      success: function(data) {
        $("#urlModal").modal('hide');

        $("#msgBody").text("New url added successfully");
        $("#msgOk").click(function() {
          window.location.href = window.location.href.replace( /[\?#].*|$/, `?${data["pk"]}`);
          $("#msgOk").click($('#msgModal').modal('hide'));
        });

        $("#msgModal").modal({
          backdrop: 'static',
          keyboard: false
        });
      },
      error: function(xhr, textStatus, errorThrown) {
        $('#urlMessage').show();
        if (xhr.status == 409) {
          $('#urlMessage').text("URL already exists");
        } else if (xhr.status == 404) {
          $('#urlMessage').text("Entry not found");
        } else {
          $('#urlMessage').text("Internal server error");
        }
      },
    });
  }

  function addMessage(content) {
    const urlTarget = window.location.protocol + "//" + window.location.host + `/message/add/`;
    $.ajax({
      type: 'POST',
      dataType: 'json',
      contentType: 'application/json',
      headers: {'X-CSRFToken': '{{ csrf_token }}'},
      data: JSON.stringify({
        entry: gCurrEntry,
        content: content
      }),
      url: urlTarget,
      success: function(data) {
        $("#addModal").modal('hide');

        console.log(data);

        $("#msgBody").text("New Message added successfully");
        $("#msgOk").click(function() {
          window.location.href = window.location.href.replace( /[\?#].*|$/, `?${data["pk"]}`);
          $("#msgOk").click($('#msgModal').modal('hide'));
        });

        $("#msgModal").modal({
          backdrop: 'static',
          keyboard: false
        });
        
        // keeping posted data
        // window.location.reload();
        
        // discarding posted data
        // window.location.href = window.location.href;
      },
      error: function(xhr, textStatus, errorThrown) {
        $('#addMessage').show();
        if (xhr.status == 404) {
          $('#addMessage').text("Entry does not exist");
        } else {
          $('#addMessage').text("Internal server error");
        }
      },
    });
  }

  var easyMDE = new EasyMDE({
    toolbar: [
      "bold", "italic", "heading", 
      "|", 
      "quote", "unordered-list", "ordered-list", 
      "|", 
      "link", "preview",
      "|", 
      {
        name: "custom",
        action: function customFunction(editor) {
          addMessage(editor.value());
        },
        className: "fa fa-paper-plane",
        title: "Send",
      },
    ],
    element: document.getElementById('wysiwyg'),
    autoRefresh: { delay: 300 },
    maxHeight: "100px",
  });

  if (entries && entries.length != 0) {
    $("#divMain").css("visibility", "visible");
  }
</script>

<div class="modal fade" id="urlModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="urlTitle" class="modal-title">Add URL</h4>
      </div>
      <div class="modal-body">
        <!-- <label for="eid">Entry ID: </label>
        <input id="eid" type="text" style="width:100%;" readonly></input> -->
        <input id="myurl" type="text" style="width:100%;" placeholder="url" oninput="$('#urlMessage').hide();"></input>
        <div style="color: red" id="urlMessage"></div>
        <div class="modal-footer">
          <button class="btn btn-primary" onclick="addUrl();">
            <i class="glyphicon glyphicon-ok-circle"></i> Add
          </button>
          <button class="btn btn-primary" onclick="$('#urlModal').modal('hide');">
            <i class="glyphicon glyphicon-remove-circle"></i> Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
